<%-include("partials/header");-%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <label for="publish">Title:</label>
  <input type="text" name="publish" />
  <label for="pos">Post:</label>
  <textarea name="pos" id="" cols="30" rows="10"></textarea>
  <button type="submit">Publish</button>
  <%-include("partials/footer");-%>
</form>
